<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="toolbar-text">
      dJournal Entries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">dJournal Entries</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-list class="center paper">
      
        <ion-card class="paper">
          <img class="blog-img" src="../../assets/song.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Success Story!</ion-card-subtitle>
            <ion-card-title>First track signed</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            I just signed my first track on a major record label, Spinnin Records. I am super proud of this!
            This song is about the jungles of Myanmar, hence I named the song "MYANMAR". My dream is starting to take flesh and bone.
          </ion-card-content>
        </ion-card>

      <ion-card class="paper">
        <img class="blog-img" src="../../assets/ade1.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Amsterdam Dance Event</ion-card-subtitle>
          <ion-card-title>We have arrived!</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          I just arrived in Amsterdam to attend the Amsterdam Dance Event (ADE). I will be playing a show in front of 1500 people.
          I will also be meeting a lot of interesting individuals, make connections and talk about music production and djing with people from the industry.
          It's going to be great! 
        </ion-card-content>
      </ion-card>

      <ion-card class="paper">
        <img class="blog-img" src="../../assets/ade2.jpg" />
        <ion-card-header>
          <ion-card-subtitle>KRISM</ion-card-subtitle>
          <ion-card-title>The MYANMAR bros</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          I've just met my very good friend from Sweden Christoffer Nelson. Christoffer is a good partner of mine and we made MYANMAR together.
          We will attend a lot of live shows together and I will be seeing him perform live in his show. 
        </ion-card-content>
      </ion-card>

      <ion-card class="paper">
        <img class="blog-img" src="../../assets/fsb1.jpg" />
        <ion-card-header>
          <ion-card-subtitle>DJ</ion-card-subtitle>
          <ion-card-title>Epic Christmas live show</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Last night I played on a Christmas live show. It was a gret experience. I played a lot of good music from all different genres, Techno, House and EDMM.
          It was an epic experience and I wish to repeat it soon.  
        </ion-card-content>
      </ion-card>

      <ion-card class="paper">
        <img class="blog-img" src="../../assets/fsb2.jpg" />
        <ion-card-header>
          <ion-card-subtitle>New Year, Good Year</ion-card-subtitle>
          <ion-card-title>Best set of my life</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          I had the chance to perform on a New Year's Day show in Kozani in front of a lot of people. I played some of my own songs and the audience received them very well.
          That makes me really happy and motivated for the future! Can't wait for more.  
        </ion-card-content>
      </ion-card>


      
    </ion-list>


  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
</ion-content>
