<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-text">
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="tab2" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="toolbar-text" size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>


  <button (click)="this.Slides.slidePrev()" class="backBtn"> 
    <ion-icon name="arrow-back"></ion-icon> 
  </button>
 
 <button (click)="this.Slides.slideNext()" class="nextBtn"> 
    <ion-icon name="arrow-forward">
  </ion-icon> </button>

  <ion-content>
    <ion-slides pager="true">
      <ion-slide>
        <h1>This app was created by Christos Christidis as part of a university project</h1>
      </ion-slide>
  
      <ion-slide>
        <h2>It is an e-journal about my life as a DJ (artist name FSB) and a student of Computer Science Department, Aristotle University of Thessaloniki</h2>
      </ion-slide>
    
      <ion-slide>
        <ion-button shape="round" color="dark" href="https://github.com/FSBgr/dJournal">Click here for the project's <br> GitHub repository</ion-button>
      </ion-slide>
    
    </ion-slides>
  </ion-content>

</ion-content>
