<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-text">
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="tab2" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="toolbar-text" size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-slides pager="true">
      <ion-slide>
        <h1 class="center">dJournal is an app created by Christos Christidis as part of a university project</h1>
      </ion-slide>
  
      <ion-slide>
        <h2 class="center">It is an e-journal about my life as a DJ (artist name FSB) and a student of Computer Science Department, Aristotle University of Thessaloniki</h2>
      </ion-slide>
    
      <ion-slide>
        <ion-button shape="round" color="dark" href="https://github.com/FSBgr/dJournal">Tap here for the project's <br> GitHub repository</ion-button>
      </ion-slide>
    
    </ion-slides>
  </ion-content>

</ion-content>
